body { 
  margin: 0; 

}

canvas { 
  width: 100%; 
  height: 100%;
}

#test {
  color: white;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width:  50vw;
    height: 40vw;

    /*font-family: "Lucida Console", Monaco, monospace;*/
}

.ace_editor p, .ace_editor div { font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace !important;}

